<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.fhtagn.zoob_demo"
      android:versionCode="8"
      android:versionName="1.1">
    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name"
                 android:name="net.fhtagn.zoobgame.ZoobApplication">
        <activity android:name="net.fhtagn.zoobgame.Zoob"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
                  android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
            <intent-filter>
                <action android:name="net.fhtagn.zoobgame.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"/>
            </intent-filter>
        </activity>
        
        <activity android:name="net.fhtagn.zoobgame.menus.OptionsMenu"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <provider android:name="net.fhtagn.zoobgame.SerieContentProvider"
                  android:authorities="net.fhtagn.zoobgame.SerieContentProvider" />
                  
        <!-- Mobclix Required Parameter -->
        <meta-data android:name="com.mobclix.APPLICATION_ID" android:value="6C08F91C-80C1-4D94-8F57-E3A7FE2E849F"/>
        <activity android:name="com.mobclix.android.sdk.MobclixBrowserActivity"/>       
    </application>
    
    <!-- Mobclix Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- Mobclix Optional Permissions -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-sdk android:minSdkVersion="3" />
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" />
</manifest> 
